@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Satisfy&display=swap");

.App {
  text-align: center;
  font-family: "Roboto Slab", serif;
}
.card {
  margin: 2rem 0;
}
.header img {
  height: 10%;
  width: 100%;
}
